# Sanity CMS Project Configuration
SANITY_PROJECT_ID=0ynfox1f
SANITY_DATASET=production

# Sanity API Read Token (Required for private dataset queries during build)
SANITY_READ_TOKEN=
SANITY_AUTH_TOKEN=
